from flask import Flask, render_template, request, redirect, url_for, session
from flask_sqlalchemy import SQLAlchemy
import pymysql
import logging

app = Flask(__name__)
logging.basicConfig(level=logging.DEBUG)
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql+pymysql://root@localhost/parkbase'
db = SQLAlchemy(app)

class User(db.Model):
    fullname= db.Column(db.String, primary_key=True)
    email= db.Column(db.String(40), unique=True,nullable=False)
    user_name = db.Column(db.String(20), unique=True,nullable=False)
    password= db.Column(db.String(20), primary_key=True, nullable=False)
    address= db.Column(db.String(80), unique=False, nullable=True)
    phn = db.Column(db.Integer, unique=True, nullable=False)


@app.route('/')
def home():
    return render_template("home.html")

@app.route('/register' , methods = ['GET' , 'POST'])
def register():
    if(request.method=='POST'):
        fullname = request.form.get('fullname')
        email=request.form.get('email')
        username=request.form.get('username')
        password=request.form.get('password')
        address=request.form.get('address')
        phone=request.form.get('phone')
        entry= User(fullname=fullname,email=email,user_name=username,password=password,phn=phone)
        db.session.add(entry)
        db.session.commit()
    
    return render_template("register.html")



@app.route('/login' , methods = ['GET' , 'POST'])
def login():
    
        logging.debug(f"Request method: {request.method}")
        if request.method == 'POST':
            username = request.form.get('username')
            password = request.form.get('password')
            logging.debug(f"Username: {username}, Password: {password}")

            # Check if the username and password match a user in the database
            user = User.query.filter_by(user_name=username, password=password).first()

            if user:
                # Successful login, redirect to the home page
                return redirect(url_for('home'))
            else:
                # Invalid login, you may want to display an error message
                return render_template("login.html", error="Invalid username or password")

        return render_template("login.html")



@app.route('/booking')
def booking():
    rows = list('ABCDEFGHIJ')
    columns = range(1, 11)
    return render_template("booking.html", rows=rows ,columns=columns)

@app.route('/about')
def about():
    return render_template("about.html")

@app.route('/main')
def main():
    return render_template("main.html")
    
@app.route('/test')
def test():
    return render_template("test.html")
@app.route('/payment')
def payment():
    return render_template("payment.html")
    
if __name__ == '__main__':
    app.run(debug=True)
</head>
<body>

  <!-- Header -->
  <header>
    <div class="container">
      <nav>
        <img src="{{ url_for('static', filename='images/logox.png') }}" alt="Logo">
        <ul>
          <li><a href=http://127.0.0.1:5000/home>HOME</a></li>
          <li><a href="http://127.0.0.1:5000/booking">BOOKING</a></li>
        </ul>
        <!-- <button class="btnL"><a href="http://127.0.0.1:5000/login">LOGIN</a></button>
        <button class="btnR"><a href="http://127.0.0.1:5000/register">REGISTER</a></button> -->
      </nav>
    </div>
  </header>  
  <!-- Main Content (Set background to homebg.jpg) -->

  <div style="background-color: #fff; padding: 20px; display: flex; flex-direction: column; align-items: center; min-height: calc(100vh - 384px); box-sizing: border-box;">
    <!-- Registration Form -->
    <div class="booking-container" style="width: 80%; max-width: 600px; margin-bottom: 40px; border: 2px solid #3d0865; padding: 20px; box-sizing: border-box;">
        <h2>Booking</h2>
  

  <form action="http://127.0.0.1:5000/booking" method="post">
    <label for="fullname">Fullname:</label>
    <input type="text" id="fullname" name="fullname" required>

    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="Enter 10-digit phone number" required>

    <label for="location">Location:</label>
    <select id="location" name="location" required>
        <option value="Brac University Mohakhali">Brac University Mohakhali</option>
        <option value="Jamuna Future Park">Jamuna Future Park</option>
        <option value="Basundhara Genetic Plaza">Basundhara Genetic Plaza</option>
        <option value="Dhanmondi">Dhanmondi</option>
        <option value="Basundhara Mall, Panthapath">Basundhara Mall, Panthapath</option>
    </select>
   


    <label for="timeSlot">Time Slot:</label>
    <select id="timeSlot" name="timeSlot" required>
        <option value="9am-10am">9am - 10am</option>
        <option value="10am-11am">10am - 11am</option>
        <!-- Add other time slot options -->
    </select>

    <label for="rowNumber">Row Number:</label>
    <select type="text" id="rowNumber" name="rowNumber" required>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option></select>
        

    <label for="columnNumber">Column Number:</label>
    <select ype="text" id="columnNumber" name="columnNumber" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option></form></select>




        .btnT a{
            color:white;
            text-decoration: none;
            font-weight: bold;
            font-size: 36px;
            text-shadow: 1px 1px 2px black, 0 0 25px #9217f0, 0 0 5px purple;
            color: white;